.article {
    margin: 16px 0;
    padding: 0 16px;
    width: 70%;
    border-right: 6px solid #33BBFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.article__items {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.article__items ul {
    list-style-type: square;
}


.container__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}