* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Consolas", monospace;
}

body {
    background: #F1F1F1;
}

/* Main */
.main {
    margin: 150px 30px 60px 30px;
    background: #ECEBEB;
    display: flex;
    border-radius: 15px;
    border: 5px dotted black;
    height: max-content;
}